/* *{
    border:1px solid black ;
} */


/* div h1{
    color: brown
} */


.container{
    background-color: rgb(42, 17, 228);
    width: 400px;
    height: 600px;
    border: 2px solid black;
    margin: 0 auto;
    /* padding: 20px; */
}

.box{
    background-color: rgb(232, 11, 11);
    width: 400px;
    /* height: 300px; */
    border: 2px solid black;
    padding: 20px;
    box-sizing: border-box;
}

.box p{
    font-size: 18px;    /* default font size is 16px */
    line-height: 1.5;
}

/* h1{
    color: red
} */
