.container a{
    color: blue;
    text-decoration: none;
    cursor: pointer;
    /* border: 1px solid red; */
    display: block;
}
.container a:hover{
    color: red;
    background-color: gray;
}
.container ul{
    list-style-type:none;
    /* border: 1px solid black; */
    padding: 10px;
}
.container ul li{
    /* border: 1px solid orange; */
    background-color: lightblue;
    text-align: center;
    border-top: 1px solid black;
}