body {
    font-family: Arial;
    text-align: center;
}

form {
    width: 300px;
    margin: 40px auto;
    padding: 25px;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}

label {
    display: block;
    text-align: left;
    margin-top: 15px;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
}

/* Outline on focus */
input:focus {
    outline: 2px solid blue;
    outline-offset: 3px;
}

textarea {
    height: 100px;
}

/* Different outline */
textarea:focus {
    outline: 2px dashed green;
    outline-offset: 3px;
}

button {
    margin-top: 20px;
    padding: 10px 25px;
}