body {
    font-family: Arial;
    text-align: center;
}

.container {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.box1 {
    width: 150px;
    height: 100px;
    background: lightblue;
}

.box2 {
    width: 50%;
    max-width: 400px;
    height: 120px;
    background: lightgreen;
}

.box3 {
    width: 10em;
    height: 20vh;
    min-height: 100px;
    background: lightpink;
}