body {
    font-family: Arial;
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background-color: lightblue;
    padding: 30px;
    min-height: 150px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}
