body {
    font-family: Arial;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 80px;
}

.box {
    width: 100px;
    height: 100px;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

/* Rotate */
.rotate:hover {
    transform: rotate(30deg);
}

/* Scale */
.scale:hover {
    transform: scale(1.3);
}

/* Translate */
.translate:hover {
    transform: translate(20px, -20px);
}

/* Skew */
.skew:hover {
    transform: skew(20deg);
}